.titulo-jogo{
    display:flex;
    justify-content: center;
    margin: 40px 0;
    color: #75B79E;
}

.mesa-cartas{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display:flex;
    justify-content: center;  
    flex-wrap:wrap;
}

.carta{
    background-color: #A7E9AF;
    box-shadow: 5px 2px 5px 2px #a2cea7;
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin:34px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    transform-style: preserve-3d;
    transition: all .9s;  
}

.frente, .verso{
    position: absolute;
    backface-visibility: hidden;
}

.carta.giro{
    transform: rotateY(180deg);
}

.verso{
    transform: rotateY(-180deg);  
}

.carta figure{
    width: 100px;
    height: 100px;
}

.carta figure img{
    width: 100%;
    height: 100%;
}
.relogio{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
    color: #75B79E;
    
}

body{
    background-color: #EEF9BF;
    font-family: "roboto";
    font-weight: 700;
}